

@model CultureSwitcherModel
 
<div>
    <form id="culture-switcher">
         <div class="form-group form">
        <label for="culture-options">Sprache:</label>
        <select  name="culture" id="culture-options">
            @foreach (var culture in Model.SupportedCultures)
            {
                <option value="@culture.Name" selected="@(Model.CurrentUICulture.TwoLetterISOLanguageName == culture.TwoLetterISOLanguageName)">@culture.DisplayName</option>
            }
        </select>
        </div>
    </form>
</div>
 
 
<script>
    document.getElementById("culture-options").addEventListener("change", () => {
        document.getElementById("culture-switcher").submit();
    });
</script>