@page "{deviceguid:deviceguid}"
@model CamControl.Pages.Device.EditModel
@using Microsoft.AspNetCore.Mvc.Localization;
@using Microsoft.Extensions.Localization;
@inject IStringLocalizer<EditModel> Localizer
@inject IHtmlLocalizer<EditModel> htmlLocalizer
@{
    ViewData["Title"] = @Localizer["Gerät bearbeiten"];
}
}
<section id="main-content">
    <section class="wrapper site-min-height">
        <div class="row mt">
            <div class="col-lg-12">
                <div class="form-panel">
                    <h4 class="mb title"> @Localizer["Gerät bearbeiten"]</h4>
                    <form class="form-horizontal style-form" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Device.Device_Guid" />
                        <div class="form-group row">
                            <label asp-for="Device.DeviceNumber" class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-10">
                            <input type="number" min="1" max="16" step="1" asp-for="Device.DeviceNumber" class="form-control" />
                            </div>
                            <span asp-validation-for="Device.DeviceNumber" class="text-danger">
                            @Html.ValidationMessage("DeviceNumber","", new { @class = "text-danger" });
                            </span>
                        </div>
                        <div class="form-group row">
                            <label asp-for="Device.Name" class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-10">
                            <input asp-for="Device.Name" class="form-control" />
                            </div>
                            <span asp-validation-for="Device.Name" class="text-danger"></span>
                        </div>
                        <div class="form-group row">
                            <label asp-for="Device.Description" class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-10">
                            <input asp-for="Device.Description" class="form-control" />
                            </div>
                            <span asp-validation-for="Device.Description" class="text-danger"></span>
                        </div>
                        <div class="form-group row">
                            <label asp-for="Device.Direction" class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-10">
                                <select asp-for="Device.Direction" asp-items="Html.GetEnumSelectList<DeviceDirection>()"></select> 
                            </div>
                            <span asp-validation-for="Device.Direction" class="text-danger"></span>
                        </div>
                        <div class="form-group row">
                        <input type="submit" value=@Localizer["speichern"] class="btn btn-primary" />
                    </div>
                </form>
                </div>
            </div>
        </div>

        <div class="form-group">
            <a asp-page="./Index">@Localizer["Zurück zur Liste"]</a>
        </div>

      
    </section>
</section>